/* Track */
div::-webkit-scrollbar-track {
    background: #f9f9f9;
  }
  
/* Handle */
div::-webkit-scrollbar-thumb {
    background: rgb(119, 119, 119);
  }
  
  /* Handle on hover */
div::-webkit-scrollbar-thumb:hover {
    background: rgb(1, 41, 57);
  }

  /* width */
div::-webkit-scrollbar {
    height: 6px;
    border: 5px;
  }